*{
    margin: 0;
    padding: 0;
    background-color: #E2FBEF;
}
div > input[type="text"],input[type="search"] {
    background: aliceblue !important;
    border-radius: 10px;
    border: 0.5px solid #00000080;
}
div input[type="button"]{
 margin: auto;
 padding: 5%;
 color: aliceblue !important;
 background: #208573;
}
header {
    display: flex;
    background: radial-gradient(#2E54CB, #1D357F) !important;
    z-index: 0;
    padding: 2%;
}

div.hd-logo{
    margin: auto;
    margin-left: 5%;
    background-color: transparent !important;
}
#img-logo{
    background: none;
}

.hd-search{
    display: flex;
    margin: auto;
    flex-direction: row;
    float: right;
    margin-right: 10%;
    z-index: 1;
    background: none;
}
button#hd-bt-search{
    position: relative;
    border-radius: 10px !important;
    background: #D9D9D980 !important;
    border: #00000080;
    margin-left: 3%;
    padding: 2% 3%;
}
button#hd-bt-search img{
    background: none;
}
#hd-text-search{
    width: 330px;
    height: 35px;
    align-self: center;
}

.bd-column div{
    display: flex;
    flex-direction: row;
    width: 50%;
}

#bd-slider{
    position: relative;
    margin-top: 5%;
    margin-left: 5%;
    width: 500px;
    height: 300px;
    overflow: hidden;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    border-radius: 10px;
}

.bd-contrast{
    margin: auto;
    width: 15%;
    height: 40%;
    box-shadow: 0 0 30px rgba(0, 0, 0, 0.3)
}

#bd-news-title{
    border-radius: 10px;
    box-shadow: 0 0 30px rgba(0, 0, 0, 0.3)
}